/* Estilo general para el body y el container */
body {
    font-family: 'Arial', sans-serif;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Estilización de la tabla y los formularios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Estilos para los grupos de inputs */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input[readonly] {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}


/* Estilo base, ya definido anteriormente */
body.dark-mode {
    background-color: #121212; /* Más oscuro para el fondo */
    color: #ffffff; /* Texto claro */
}

.container.dark-mode {
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.25);
}

th.dark-mode, .input-group label.dark-mode {
    color: #ddd; /* Color de texto más claro para mayor legibilidad */
}

input.dark-mode, button.dark-mode {
    background-color: #333;
    color: #fff;
}

table.dark-mode th {
    background-color: rgba(0, 0, 0, 0.3);
}
